<form class="example-form" [formGroup]="dashboardForm" (ngSubmit)="onSubmit()" >

 <div class="form-field">
   
    <mat-form-field>
        <input matInput placeholder="First Name">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Last Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput  placeholder="Telephone" [formControl]="phoneNumber"  required >
         <span matPrefix>+61</span>
        <mat-error *ngIf="phoneNumber.hasError('required')">You must enter a value</mat-error>

        <mat-error *ngIf="phoneNumber.hasError('maxlength')">Required 10 digit</mat-error>
        <mat-error *ngIf="phoneNumber.hasError('minlength')">Required 10 digit</mat-error>
        
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessageEm()}}</mat-error>
        </mat-form-field>
    
      

        
      

 </div>
  <div class="button-row" >
    <button mat-raised-button color="primary" [disabled]="!dashboardForm.valid">Add</button>
  </div>

</form>

<app-show-person-data></app-show-person-data>